@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
.hide-img {
  cursor: pointer;
  max-width: 100%;
  width: auto;
  display: block;
  position: relative;
}
.img_slider {
  width: 100%;
}
.form-table {
  width: 100%;
}
.fa-copy {
  cursor: pointer;
  color: #ccc;
  padding: 5px;
  top: 0;
  display: none;
}
.fa-copy:hover {
  color: #aaa;
}
.front-code-php label {
  font-family: 'Courier New';
  cursor: default;
  font-size: 0;
}
#mceu_13-button {
  background: #D6D6D6;
}
#mceu_13-button::before {
  content: "PDF";
  font-size: 11px;
  font-weight: 700;
  margin-top: 2px;
  position: absolute;
}
.image-theme {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 10px 5px 0;
  position: relative;
}
.image-theme img {
  width: 100%;
}
.image-remove {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  background: #000000;
  -webkit-border-radius: 0 0 0 25px;
  border-radius: 0 0 0 25px;
  font-size: 10px;
  color: #ffffff;
  cursor: pointer;
}
.image-remove i {
  float: right;
  margin: 5px 5px 0 0;
}
.link-media {
  width: auto;
  display: block;
  padding: 5px 5px 0 5px;
}
.image-theme-full {
  width: auto;
  height: auto;
}
.image-theme-full img {
  width: 100%;
}
.image-100 {
  width: 100%;
  max-width: 200px;
}
body {
  background: #FAFAFA;
}
#wpfooter {
  display: none;
}
#wpadminbar #wp-admin-bar-james .ab-icon:before {
  content: "\f475";
  top: 2px;
  cursor: pointer;
}
.seditform {
  background: #F6F6F6;
  border: 1px solid #E7E7E7;
  padding: 0 15px 5px 15px;
  font-family: 'Roboto';
  display: block;
}
.seditform ul li {
  display: block;
}
.seditform ul li h3 {
  color: #23282D;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: block;
}
.seditform ul li label {
  font-size: 14px;
  color: #545454;
  margin-bottom: 5px;
  display: block;
  cursor: default;
}
.seditform ul li input,
.seditform ul li textarea {
  border-radius: 3px;
  font-size: 14px;
  display: block;
  padding: 8px;
  width: 100%;
  margin: 0;
  max-width: 700px;
}
.seditform ul li input:focus,
.seditform ul li textarea:focus {
  border: 1px solid #1A4699;
  box-shadow: 0;
}
.seditform ul li em {
  margin-top: 5px;
  font-style: normal;
  font-size: 14px;
  color: #8A8A8A;
  display: block;
  cursor: default;
}
.seditform ul li em:before {
  color: #000;
  content: '\f059';
  color: #8A8A8A;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
}
.seditform ul li p {
  margin-top: 5px;
  font-style: normal;
  font-size: 14px;
  color: #626262;
  display: block;
  max-width: 700px;
}
.seditform ul li l {
  display: none;
}
.seditform ul li span {
  border: 1px dashed #C7C7C7;
  display: block;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  max-width: 700px;
}
.seditform ul li span img {
  margin: 0 auto;
  display: block;
}
.seditform ul li button {
  display: inline-block;
}
.nav-tab-sedit {
  border-bottom: none;
  font-family: 'Roboto';
}
.nav-tab-sedit .nav-tab {
  font-weight: 500;
  border: 1px solid #E7E7E7;
  border-radius: 3px 3px 0 0;
  background: #F0F0F0;
  margin-bottom: -1px;
  box-shadow: 0 !important;
}
.nav-tab-sedit .nav-tab:focus {
  border: 1px solid #E7E7E7;
  box-shadow: 0 !important;
  margin-bottom: -2px;
}
.nav-tab-sedit .nav-tab-active {
  background: #F6F6F6;
  border-bottom: 1px solid #F6F6F6;
}
.seditwrap {
  padding-top: 10px;
}
